{% extends 'base.html' %}

{% block content %}
    <h1>Inventory Page</h1>

    <h5>Name:</h5>
    <p>{{name}}</p>

    <h5>Class:</h5>
    <p>{{class}}</p>

    <p>There are currently {{count}} weapons in the inventory</p>

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>


        <tbody>
        {% for product in products %}
            <tr>
                <td scope="row">{{product.name}}</td>
                <td scope="row">{{product.amount}}</td>
                <td scope="row">{{product.description}}</td>
                <td scope="row">
                    <a href ="{% url 'main:increment' product.id %}">
                        {% csrf_token %}
                        <button name="increment">+</button>
                    </a>

                    <a href ="{% url 'main:decrement' product.id %}">
                        {% csrf_token %}
                        <button name="decrement">-</button>
                    </a>
                </td>
                <td scope="row">
                    <a href = "{% url 'main:remove' product.id %}"
                        {% csrf_token %}
                        <button name="remove">Remove Item</button>
                </td>
                
            </tr>
        </tbody>
        {% endfor %}
    </table>

    <h5>Sesi terakhir login: {{ last_login }}</h5>
    
    <a href="{% url 'main:create_product' %}">
        <button>
            Add New Product
        </button>
    </a>

<a href="{% url 'main:logout' %}">
    <button>
        Logout
    </button>
</a>

{% endblock content %}